.#{$ns}hero {

    &--large-image {
        padding:var(--wp--preset--spacing--70) 0;
    }
    &--two-column {
        padding:var(--wp--preset--spacing--70) 0;
    }
    &--just-text {
        padding:var(--wp--preset--spacing--70) 0;
    }
}