@mixin create-clamp($minSize,$maxSize,$minWidth:30,$maxWidth:120) {

    $slope: calc(($maxSize - $minSize) / ($maxWidth - $minWidth));
    $intersection: calc((-1 * $minWidth * $slope) + $minSize);
    $preferred: calc($intersection + ($slope * 100));

    $actualMin: calc($minSize * 1rem);
    $actualMid: calc($preferred * 1vw);
    $actualMax: calc($maxSize * 1rem);

    font-size:clamp($actualMin, $actualMid, $actualMax);

}

@mixin test-this($minimum) {
    font-size:$minimum;
}