.#{ $ns }testimonials {
    &__grid {
        display: grid;
        gap: var(--element-gap);
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }

    &.has-columns-1 &__grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    &.has-columns-2 &__grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &.has-columns-3 &__grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: var(--element-gap);

        p {
            margin-top: 0;
        }
    }

    &__content {
        flex: 1;
    }

    &__meta {
        align-items: center;
        display: grid;
        gap: var(--element-gap);
        grid-template-columns: auto 1fr;
        grid-template-columns: minmax(0, 1fr) 1fr;
    }

    &__image {
        margin: 0;
        max-width: 100%;

        img {
            border-radius: var(--border-radius);
            display: block;
            height: auto;
            width: 100%;
            max-width: 100%;
            object-fit: contain;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    &__company {
        margin: 0;
    }

    &__name {
        margin: 0;
    }

    .wp-block-image{
        height: 100% !important;
        a{
            height: 100%;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }    
}

@media screen and (max-width:768px) {
    .ccc-testimonials__grid{
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    .is-style-mobile-two-column .ccc-testimonials__grid{
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
}